/* ---------------------------------------------------------------------------*/
/* Base                                                                       */
/* ---------------------------------------------------------------------------*/

:root {
  --onedark-void: #161617;
  --onedark-onyx: #212328;
  --onedark-black: #282C34;

  --onedark-red: #E06C75;
  --onedark-green: #98C379;
  --onedark-yellow: #E5C07B;
  --onedark-blue: #61AFEF;
  --onedark-purple: #C678DD;
  --onedark-cyan: #56B6C2;
  --onedark-white: #ABB2BF;
}

html, body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span.parameter { font-family:monospace; }
span.parameter:after { content:":"; }
span.types:before { content:"("; }
span.types:after { content:")"; }
.type { font-weight: bold; font-style:italic }

body ul, body ol {
  /* margin-left: 16px; */
}

ul {
  list-style-type: none;
}

p.name {
  font-family: "Andale Mono", monospace;
  padding-top: 1em;
}

/* ---------------------------------------------------------------------------*/
/* Fonts                                                                      */
/* ---------------------------------------------------------------------------*/

html, body {
  font-size: 14px;
  line-height: 21px;
}
h1 {
  font-size: 32px;
  line-height: 42px;
}
h2 {
  font-size: 24px;
  line-height: 42px;
}
h3 {
  font-size: 20px;
  line-height: 21px;
}
h4 {
  font-size: 16px;
  line-height: 21px;
}
h5 {
  font-size: 14px;
  line-height: 21px;
}

/* ---------------------------------------------------------------------------*/
/* Links                                                                      */
/* ---------------------------------------------------------------------------*/

a {
  font-weight: bold;
  color: var(--onedark-blue);
  text-decoration: none;
}

a:target + * {
  color: var(--onedark-purple);
}

/* ---------------------------------------------------------------------------*/
/* Code                                                                       */
/* ---------------------------------------------------------------------------*/

pre {
  background-color: rgb(245, 245, 245);
  border: 1px solid #C0C0C0; /* silver */
  padding: 10px;
  margin: 10px 0 10px 0;
  overflow: auto;
  font-family: "Andale Mono", monospace;
}

pre.example {
  font-size: .85em;
}

pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #aa5050; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #8080ff; }
pre .number { color: #f8660d; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .user-keyword { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }

/* ---------------------------------------------------------------------------*/
/* Tables                                                                     */
/* ---------------------------------------------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

table.index { border: 1px #00007f; }
table.index td { text-align: left; vertical-align: top; }

table {
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF22;
  border-collapse: collapse;
}
table td {
  border-width: 1px;
  padding: 3px;
  border-style: solid;
  border-color: #FFFFFF22;
}

td.name {
  min-width: 200px;
  background-color: var(--onedark-onyx);
}

td.summary {
  width: 100%;
}

dl.table dt, dl.function dt {
  padding-top: 16px;
  border-top: 1px solid var(--onedark-white);
}

dl.table dd, dl.function dd {
  margin-left: 16px;
  padding-bottom: 16px;
}

/* ---------------------------------------------------------------------------*/
/* Scrollable                                                                 */
/*                                                                            */
/* Hides the scrollbar while still allowing the user to scroll                */
/* ---------------------------------------------------------------------------*/

.scrollable {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollable::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

/* ---------------------------------------------------------------------------*/
/* Layout: Root                                                               */
/* ---------------------------------------------------------------------------*/

#root {
  min-height: 100vh;
  color: var(--onedark-white);
  background-color: var(--onedark-black);
  font-family: arial, helvetica, geneva, sans-serif;
}

/* ---------------------------------------------------------------------------*/
/* Layout: Navigation                                                         */
/* ---------------------------------------------------------------------------*/

#navigation {
  width: 256px;
  height: 100vh;
  padding: 32px 0;

  position: fixed;
  background-color: var(--onedark-onyx);
}

#project {
  margin: 0 0 8px 8px;
}

#project a {
  color: var(--onedark-green);
}

#description {
  margin: 0 0 16px 8px;
  font-weight: bold;
  color: var(--onedark-green);
}

#navigation h4 {
  padding: 8px;
  background-color: var(--onedark-void);
}

#navigation ul a {
  height: 100%;
  padding: 8px;
  display: block;
}

#navigation ul a:hover {
  background-color: #88888822;
}

/* ---------------------------------------------------------------------------*/
/* Layout: Content                                                            */
/* ---------------------------------------------------------------------------*/

#content {
  margin-left: 256px;
  padding: 32px 16px;
}
